@font-face {
    font-family: "font-2018-129";
    src: url("/xcb/images/font-2018-129.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.block-2018-129 {
    clear: both;
    margin: 1em auto;
    padding: 0;
    width: 1026px;
    border-color: #8BFF33;
    border-style: dashed;
    border-width: 3px;
    border-radius: 80px 0 30px 0;
    background: linear-gradient(135deg, #C5FF99 10%, rgba(255, 255, 255, 0.5) 90%);
}

.block-2018-129:before {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-family: "font-2018-129";
}

.block-2018-129:after {
    clear: both;
    display: block;
    content: '';
}

.block-2018-129-intro:before {
    content: "基本介绍";
}

.block-2018-129-wechat:before {
    content: "微信推送";
}

.block-2018-129-video:before {
    content: "精彩视频";
}

.block-2018-129-intro > dt {
    margin: 1em auto;
    max-width: 800px;
    text-align: center;
}

.imageHeader-2018-129 {
    display: block;
    margin: 10px auto 0 auto;
    width: 200px;
    height: 200px;
}

.imageList-2018-129 {
    list-style: none;
}

.imageList-2018-129 > li {
    float: left;
    display: block;
    margin: 0;
    padding: 10px;
}

.imageList-2018-129 > li > a {
    position: relative;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 320px;
    height: 220px;
    background: linear-gradient(135deg, #5db293 30%, #ad0000 70%);
}

.imageList-2018-129 > li > a > * {
    transition: 0.1s ease-in;
}

.imageList-2018-129 > li > a > .imageList-2018-129-intro {
    position: absolute;
    bottom: -60px;
    left: 0;
    display: block;
    box-sizing: border-box;
    padding: 0 30px;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 30px;
}

.imageList-2018-129 > li > a:hover > .imageList-2018-129-intro {
    bottom: 0px;
}

.imageList-2018-129 > li > a > img {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 300px;
    height: 200px;
}

.imageList-2018-129 > li > a:hover > img {
    top: -70px;
    left: -65px;
    width: 450px;
    height: 300px;
}

@media screen and (max-width: 1025px) {
    .block-2018-129 {
        width: 686px;
    }
}

@media screen and (max-width: 685px) {
    .block-2018-129 {
        width: 346px;
    }

    .imageHeader-2018-129 {
        width: 100px;
        height: 100px;
    }

    .imageList-2018-129 > li > a > .imageList-2018-129-intro {
        bottom: 0px;
    }
}